@import url("../src/Manrope/stylesheet.css");
* {
  font-family: "Manrope";
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #047481;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #040508;
  transition: all 0.2s;
}

.navbar__wrap .menu > li > a:hover {
  color: #047481;
  transition: all 0.2s;
}

.cont {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  background-color: #047481;
  padding: 0 24px;
  height: 44px;
  font-size: 13px;
  color: #040508;
  line-height: 20px;
  font-weight: 400;
  color: white;
  transition: all 0.3s;
}
.custom-btn:hover {
  transition: all 0.3s;
  background-color: #111928;
}

header .logo-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .number-callme {
  display: flex;
}
header .number-callme a {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 24px;
  font-size: 15px;
  color: #040508;
  line-height: 24px;
  font-weight: 400;
}
header .number-callme a p {
  font-size: 13px;
  color: #040508;
  line-height: 20px;
  font-weight: 400;
  color: #5e5f62;
}

.home {
  position: relative;
  min-height: 780px;
  padding: 60px 0 50px;
}
.home::before {
  position: absolute;
  background: url(/src/img/bg-home.png) no-repeat;
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -10;
  max-width: 1250px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 52%;
}
.home .home-title {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-between;
  padding-right: 60px;
}
.home .home-title h1 {
  font-size: 44px;
  color: #040508;
  line-height: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}
.home .home-title h1.home-first,
.home .home-title h1.home-third {
  margin-right: auto;
}
.home .home-title h1.home-second {
  margin-left: auto;
}
.home .wrapper-img-title-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 624px;
  margin-top: 50px;
}
.home .wrapper-img-title-btn .img-title {
  display: flex;
  justify-content: space-between;
}
.home .wrapper-img-title-btn .img-title .img-wrapper {
  max-width: 296px;
  width: 100%;
  height: 296px;
}
.home .wrapper-img-title-btn .img-title .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .wrapper-img-title-btn .img-title .title {
  max-width: 288px;
  display: flex;
}
.home .wrapper-img-title-btn .img-title .title p {
  font-size: 14px;
  color: #040508;
  line-height: 24px;
  font-weight: 400;
  color: #5e5f62;
  margin-top: auto;
}
.home .wrapper-img-title-btn .custom-btn {
  margin-top: 40px;
}
.home .wrapper-img-2 {
  max-width: 584px;
  width: 100%;
  height: 312px;
}
.home .wrapper-img-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .common-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}/*# sourceMappingURL=style.css.map */